.temperatura p {
  font-size: 40px;
  color: whitesmoke;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#ciudad {
  color: white;
  font-size: 4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

article {
  background-color: darkcyan;
  border-radius: 0.5em;
}
img{
  width: 100%;
}
